body {
  background-color: #fefefe;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  color: #333;
}

.title {
  color: #2c3e50;
  text-align: center;
  font-size: 3rem;
}

#intro {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.hero {
  background-image: url('images/Home Page Cover Art.jpg');
  background-size: cover;       /* stretch and crop to fill */
  background-position: center;  /* center the image */
  color: rgb(22, 22, 41);                 /* make text readable */
  padding: 10px 20px;          /* space inside the box */
  text-align: center;           /* center text horizontally */
  height: 50vh;                /* optional: full screen height */
  position: relative;
}

.gallery {
  background-position: center;  /* center the image */
  color: rgb(22, 22, 41);                 /* make text readable */
  padding: 10px 20px;          /* space inside the box */
  text-align: center;           /* center text horizontally */
  height: 50vh;                /* optional: full screen height */
  position: relative;
}

h1 {
  font-size: clamp(4rem, 12vw, 10rem);
}

h2 {
  font-size: clamp(2rem, 8vw, 6rem);
}

.menu {
  display: flex;
  justify-content: center; /* centers items horizontally */
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu a.active {
  font-weight: bold;
  color: #ffcc00;
}

.menu li {
  margin: 0 5px; /* space between menu items */
  background-color: #ab0186;
}

.li a {
  color: inherit;
  text-size-adjust: 2rem;
}

.menu a:visited {
  color: inherit;  /* or set to whatever color you want */
  text-decoration: none; /* optional */
}

ul {
  display: flex;
  gap: 10px; /* space between items */
  padding: 0; /* remove default padding */
  margin: 0;  /* remove default margin */
  list-style: none; /* remove bullets */
}